.userWidgetSettingsForm{
    padding: 10px 20px 10px 15px;
    font-family: 'Roboto', sans-serif;
    color: #425268;

}

.userWidgetSettingsDropdown{
    width: 300px;
}

.settingsFormLabel {
    color: #6C788A;
    margin-bottom: 5px;
    margin-top: 5px;
}

.rightRadioButton {
    margin-left: 50px;
    display: inline-block;
}

.settingsButton {
    display: inline-block;
    cursor: pointer;
}

.userCountSelector{
    width: 300px;
    height: 32px;
}

.ml2{
    margin-left: 20px;
}
.userWidgetFormButtons{
    margin-bottom: 15px;
}